/* .table-box{
    display: flex;
    justify-content: center;    
} */

.table-box {
    padding: 15px;
}

/* TABLE - CAPTION - Box*/
.box-table-caption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    padding: 5px;
}

/* TABLE - CAPTION - Caption */
.box-table-caption h1 {
    display: flex;
    align-items: center;
}

.content-table {
    border-collapse: collapse;
    margin: 5px 0;
    font-size: var(--f1);
    /* min-width: 800px; */
    min-width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.title-table {
    text-decoration: underline;
    font-size: var(--f3);
}

.content-table thead tr {
    background-color: #E90611;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 15px 18.8px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f2f2f2;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #E90611;
}

.content-table tbody tr:hover {
    color: #E90611;
    /* color: rgb(255, 193, 7); */
}

.tableAcoes {
    text-align: center;
}

.tableEditIcon {
    color: blue;
    cursor: pointer;
}

.tableDeleteIcon {
    color: red;
    cursor: pointer;
}