main {
    background: #e4ebf4;
    display: flex;
    flex: 20 1 500px;
    height: calc(100vh - 174px);
    flex-wrap: wrap;
    overflow: auto;
}

main section {
    /* width: 100%; */
    width: 1900px;
    height: 1200px;
    margin: 10px;
    /* background: #413e3e; */
    background: #e4ebf4;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.subtitle-page {
    display: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
    text-align: center;
    font-size: var(--f4);
    font-style: italic;
    color: gray;
}

.title-cards {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    justify-content: center;
    color: gray;
    font-size: 11px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
}

.box-cards {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 190px;
    height: 120px;
    background-color: rgb(236, 236, 236);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    cursor: pointer;
    transition: all 0.5s;
    /* border-radius: 3%;
    border: 0.4px solid #757575; */
}

.box-cards:hover {
    transform: scale(1.05);
}

.box-cards:active {
    transform: scale(0.95) rotate(1.7deg);
}

.name-cards {
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    /* margin-top: 5px; */
    line-height: 40px;
    margin-bottom: 10px;
}

.pend-card {
    display: flex;
    justify-content: center;
    background-color: red;
    width: 100%;
}

.open-card {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 193, 7);
    width: 100%;
}

.finish-card {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 255);
    width: 100%;
}

.content-cards {
    font-size: 27px;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
}

.hr-dashboard {
    width: 280px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 5px;
    border-radius: 50px;
    background-color: grey;
}

.title-charts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: gray;
    font-size: 11px;
    margin-top: 5px;
}

.chartCard {
    width: 100%;
    height: 300px;
    /* background: rgba(255, 255, 255, 0.2); */
    display: flex;
    align-items: top;
    justify-content: center;
    justify-content: space-around;

}

.chartBox {
    width: 480px;
    height: 280px;
    padding: 20px;
    border-radius: 20px;
    border: solid 0.4px #757575;
    background-color: rgb(236, 236, 236);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.chartCard2 {
    width: 100%;
    height: 480px;
    /* background: rgba(255, 255, 255, 0.2); */
    display: flex;
    align-items: top;
    justify-content: center;
}

.chartBox2 {
    width: 480px;
    height: 480px;
    padding: 20px;
    border-radius: 20px;
    border: solid 0.4px #757575;
    background-color: rgb(236, 236, 236);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

@media screen and (max-width: 717px) {
    main {
        overflow: hidden;
    }

    main section {
        overflow: hidden;
        min-height: 1900px;
    }

    .subtitle-page {
        display: flex;
        justify-content: center;
    }

    .cards {
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        margin: 20px;
        align-items: center;
        min-height: 450px;
    }

    .box-cards {
        min-width: 300px;
    }

    .chartBox {
        margin-bottom: 50px;
    }

    hr {
        /* display: none; */
    }
}