main {
    background: #e4ebf4;
    display: flex;
    flex: 20 1 500px;
    height: calc(100vh - 174px);
    flex-wrap: wrap;
    overflow: auto;
}

main section {
    /* width: 100%; */
    width: 1900px;
    height: 76vh;
    margin: 10px;
    /* background: #413e3e; */
    background: #e4ebf4;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.field {
    display: flex;
    flex-direction: row;
    padding: 10px;
    height: 70px;
}

.title {
    text-decoration: underline;
    font-size: var(--f3);
    align-items: center;
    text-align: center;
}

.labelBox {
    font-weight: bold;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputBox {
    flex: 6;
    margin-left: 10px;
    /* padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: var(--f2);
    background: #fff;
    color: #000;
    transition: background-color 0.3s ease; */    
    width: 100%;
    /* padding: 0px 10px 0px 10px; */
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);    
}

.inputBox input {
    font-size: var(--f3);
    min-width: 100%;
    min-height: 100%;
    padding: 10px;
    background-color: transparent;
    border: 1px solid rgba(105, 105, 105, 0.397);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border: none;
}

.button-editar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px
}

.submit {
    border: none;
    outline: none;
    background-color: rgb(225, 4, 4);
    width: 15vw;
    /* height: 10vh; */
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
}

.submit:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em #391515;
    transition: all 0.15s;
}

.submit:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em #ffffff;
    transition: all 0.2s;
}