main {
    background: #e4ebf4;
    display: flex;
    flex: 20 1 500px;
    height: 100vh;
    flex-wrap: wrap;
    overflow: auto;
}

main section {
    overflow: hidden;
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 1900px;
    height: 96vh;
    margin: 10px;
    /* background: #413e3e; */
    background: #e4ebf4;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    min-width: 500px;
    min-height: 100px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.title {
    font-size: 28px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.title::before,
.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: rgb(225, 4, 4);
}

.title::before {
    width: 18px;
    height: 18px;
    background-color: rgb(225, 4, 4);
}

.title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}

.message,
.signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
}

.signin {
    text-align: center;
}

.signin a {
    color: rgb(225, 4, 4);
}

.signin a:hover {
    text-decoration: underline rgb(225, 4, 4);
}

.flex {
    display: flex;
    width: 100%;
    gap: 6px;
}

.form label {
    position: relative;
}

.form label .input {
    font-size: var(--f3);
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    /* border-radius: 10px; */
}

.nameInput {
    background-color: blue;
    min-width: 320px;
}

.form textarea {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    gap: 50px;
    /* border-radius: 10px; */
}

.form label .input+span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: var(--f4);
    cursor: text;
    transition: 0.3s ease;
    /* font-size: 0.9em; */
}

.form label .input:placeholder-shown+span {
    top: 15px;
    font-size: var(--f2);
    /* font-size: 0.9em; */
}

.form label .input:focus+span,
.form label .input:valid+span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
}

.form label .input:valid+span {
    color: blue;
}

.submit {
    border: none;
    outline: none;
    background-color: rgb(225, 4, 4);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
}

.submit:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em #391515;
    transition: all 0.15s;
}

.submit:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em #ffffff;
    transition: all 0.2s;
}

@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}

@media only screen and (max-width:926px) {
    main {        
        min-width: 100vw;
        min-height: 100vh;
    }

    section {        
        max-height: 95vh;
    }
}

@media only screen and (max-width:718px) {
    main {        
        min-width: 100vw;
        min-height: 100vh;        
    }
    
    section {        
        max-height: 600px;        
    }
}